* {
    padding: 0;
    margin: 0;
}

body{ 
    background-color: hsl(185, 75%, 39%);
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#top_image{
    z-index: -1;
    position: absolute;
    left: -10%;
    top: -20%;
}

#bottom_image{
    z-index: -1;
    position: absolute;
    left: 55%;
    top: 35%;

}
.card{
    display: flex;
    max-width: 1400px;
    min-height: 375px;

    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;
}


.person_image img{
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    margin-top: -50%;
    position: relative;
}

.center_text {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  
}

.top_image img{
    position: relative;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

h1{
    font-weight: 700;
}

p{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
}

h3, p{
    font-family: 'Lexend Deca', sans-serif;
}

h3{
    margin-bottom: 5%;
}

#age{
    color: gray;
}
.bottom_container{
    margin-top: 5%;
    display: flex;
    gap: 5%;

}
.bottom_text{
    width: 100px;
    text-align: center;
    padding-bottom: 10%;
}
